* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.altura-linha {
  line-height: 1em;
}

/** MENU **/
nav ul{
  font-weight: 300;
}


/** FORMULÁRIOS **/
form input[type=text], input[type=password], select{
  width: 15em;
}
.formulario {
  background-color: white;
  padding: 1.6em 2em 1.1em 2em;
}
.sec-formulario {
  text-align: center;
}
.formulario-login {
  display: inline-block;
  text-align: left;
  border: 1px solid #DBDBDB;
  border-radius: 0.5em;
}

.formulario-login input, .form-editar-corretor input[type=text], .form-editar-corretor select  {
  display: block;
  margin-bottom: 1em;
}

.form-editar-corretor {
  display: inline-block;
  text-align: left;
  border: 1px solid #E21C4C;
  border-radius: 0.5em;
  width: 25em;
  padding-left: 3.8em!important;
  margin-bottom: 2em;
}

.form-editar-corretor h3 {
  margin: 0.5em 0em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  padding-left: 0.3em;
  font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left: 0.5em;
  font-weight: 300;
}

::-ms-input-placeholder { /* Microsoft Edge */
  padding-left: 0.5em;
  font-weight: 300;
}

/** FILTROS **/
.container-filtrar {
  display: flex;
  align-items: center;
}

.btn-texto {
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 2.5em;
  background-color: #BFE5E6;
  color: white;
}

.btn-texto:focus {outline:0;}

.filtro-direito input, .filtro-esquerdo input{
  display: inline-block;
  width: 15em;
}

.filtro-direito input, .filtro-direito select, .filtro-esquerdo input, .filtro-esquerdo select {
  margin-bottom: 0.5em;
}
.filtro-esquerdo p {
  width: 10em;
}
.filtro-direito p {
  width: 8em;
}
.filtro-direito p, .filtro-esquerdo p {
  text-align: right;
  margin-right: 5px;
}

.input-enviar {
  width: 2.5em !important;
}

input[type=date] {
  all: initial;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #858585;
  padding: 0.2em;
  margin-bottom: 0.5em;
  border-radius: 0.2em;
}

.accordion {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  line-height: 0.2em;
}

.btn-texto {
  text-align: center;
}

.alert {
  border: 1px solid;
}

.panel p, .panel h6 {
  display: inline-block;
}

.btn-enviar, .btn-editar, .btn-excluir {
  height: 1.5em;
  line-height: 0.65em;
  width: 5em;
}

.input-enviar {
  width: 2em;
}

button:disabled {
  background-color: #CECECE;
  color: black;
}

.contatos {
  margin-bottom: 1.2em;
}

.fonte-grande {
  line-height: 0.7em;
  font-size: 1.2em;
}

.fonte-grande strong {
  font-size: 1em;
}

/** Editar dados pessoais **/
.d-pessoais {
  border: 1px solid #CECECE;
  border-radius: 0.5em;
}

.filtro-corretores {
  margin: 0 auto;
  padding-left: 22em;
}

.btn-desc {
  margin: 0.4em 0em;
}

/** RODAPÉ **/
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:1.5em;   /* Height of the footer */
   text-align: center;
}

/** RESTAURANTE PÁGINA INICIAL **/
.restaurante {
  width: 100%;
  background-color: #E5E5E5;
  padding: 2em 2em;
  margin-top: 0.6em;
}

.h3-restaurante {
  margin-top: 0.5em;
}

.img-restaurante {
  max-height: 10em;
}

.btn-restaurante {
  display: inline-block;
  background-color: #54AFE7;
  border: none;
  border-radius: 0.3em;
  color: white !important;
  font-weight: 700;
  padding: 0.5em 1em;
}

/** VISUALIZAÇÃO RESTAURANTE ESPECÍFICO **/
.img-topo-restaurante {
  width: 100%;
}

/** PRATO **/
.prato {
  padding: 2em;
  background-color: #CEEDFC;
  margin-top: 1em;
}

.img-prato {
  width: 100%;
}

.pedir-prato {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-top: 1em;
  background-color: #0EAEFA;
  color: white;
  padding: 1em 2em;
}
